/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */

html,
body,
.view {
    height: 100%;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

body {
    background: #050510;
}

.navbar {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 1.14em;
}

p,
.card-body,
ul,
li {
    font-size: 1rem;
    font-weight: 600;
    color: #9e9e9e;
    list-style: none;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

h1 {
    font-size: 67px;
}

.innerpageheading {
    font-size: 2rem;
}

.btn {
    line-height: 17px;
    font-weight: 600;
    text-transform: none;
    overflow: hidden;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    border-radius: 5em;
    background: -moz-linear-gradient(160deg, #017bfd 0%, #20bfe1 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(1, 123, 253, 1)), color-stop(100%, #20bfe1));
    background: -webkit-linear-gradient(160deg, #017bfd 0%, #20bfe1 100%);
    background: -o-linear-gradient(160deg, #017bfd 0%, #20bfe1 100%);
    background: -ms-linear-gradient(160deg, #017bfd 0%, #20bfe1 100%);
    background: linear-gradient(160deg, #017bfd 0%, #20bfe1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr=#017bfd, endColorstr=#20bfe1, GradientType=1);
}

.requestcall .btn {
    background: none !important;
}

input.form-control {
    line-height: 17px;
    font-weight: 600;
    text-transform: none;
    overflow: hidden;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    border-radius: 5em;
    padding: 1.3em;
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #607290;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .bottom-intro span::before {
        content: "";
        white-space: pre;
    }
    .bottom-myName span::before {
        content: "";
        white-space: pre;
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar {
        padding: 1.2em 2.65em 0.75em;
    }
}

.navbar {
    background-color: transparent;
}


/* Full Page Carousel itself*/

.carousel {
    height: 100%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}


/* Navbar animation */

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
    background-color: #1C2331;
}


/* Adding color to the Navbar on mobile */

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}


/* Footer color for sake of consistency with Navbar */

.page-footer {
    background-color: #1C2331;
}

.banner .view .mask {
    right: auto;
    left: auto;
}

.download {
    position: absolute;
    bottom: 0px;
    padding: 1em 2.65em;
    width: 100%;
    background: #050510;
}

.download ul {
    margin: 0px;
    padding: 0px;
}

.download ul li {
    list-style: none;
    margin-right: 30px;
}

.downloadnow {
    font-size: 30px;
    font-weight: 700;
    width: 300px;
}

.download img {
    height: 50px;
}

.slider-home .carousel-caption p {
    font-size: 24px;
}

.slider-home .carousel-caption h3 {
    font-size: 40px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #050510;
    background-clip: border-box;
    border: 1px solid #23293b;
    border-radius: .25rem;
}

.card .card-body .card-text {
    font-size: 1rem;
    font-weight: 600;
    color: #607290;
}

.card .card-body h3 {
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

#howitwork ul li i {
    margin-left: -15px;
}

.home-icons-boxes {
    text-align: center;
}

.home-icon-outer {
    padding: 1.25rem;
    text-align: center
}

.home-icons {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 100px;
    text-align: center;
    width: 100px;
    /* background-color: #1C2331; */
    vertical-align: middle;
    display: table-cell;
}

.home-icons i {
    color: #fff;
    font-size: 30px;
    padding: 36px 0;
}

.home-icon-outer-icon {
    border: solid 1px #00adef;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*     margin: 3px 30px 0 0; */
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.card:hover .home-icon-outer-icon {
    border-color: transparent;
    -webkit-box-shadow: 0 1px 8px #ccc;
    -moz-box-shadow: 0 1px 8px #ccc;
    box-shadow: 0 1px 8px #ccc;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.footer-menu a {
    margin-right: 10px;
}

#faqs h3 {
    font-size: 1.5em;
}

#FAQs-banner.banner .view .mask,
#banner-top.banner .view .mask {
    right: 0;
    left: 0;
}

#FAQs-banner.banner.carousel,
#banner-top.banner.carousel {
    height: 400px;
}

#FAQs-banner p,
#banner-top p {
    font-size: 1.5em;
    color: #fff;
}

#faqs .accordion>.card:not(:first-of-type):not(:last-of-type),
#faqs .accordion>.card:first-of-type {
    border-bottom: 1px solid #23293b;
}

#faqs .card {
    border: none;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background: #000;
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}


/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}

.card.first {
    background: transparent;
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
    overflow: none;
}

.subscription {
    background: #000;
    padding: 50px 0px;
}

.home-slide {
    color: White;
    padding: 20px;
    text-align: left;
    max-height: 100%;
}

.slidedown {
    max-height: 100%;
    text-align: left;
    padding: 0px 15px;
}

.slidedown li {
    margin-bottom: 15px;
}

.home-readmoreclick {
    color: #9e9e9e;
}

input.form-control {
    color: #607290;
    border-color: #23293b;
    background-color: #23293b;
}

.home-slide p {
    opacity: 0;
}

.home-slide {
    /*top: 100%;*/
    position: relative;
    height: 0;
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.home-services .card {
    height: 500px;
}

.home-services .card:hover {
    height: 100%;
}

.card:hover .home-slide p {
    opacity: 1;
}

.card:hover .home-slide {
    /*top: 0%;*/
    opacity: 1;
    height: 100%;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

#share-home p,
#transfer-home p,
#cross-home p {
    font-size: 1.2rem;
}

#share-home h3,
#transfer-home h3,
#cross-home h3 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .modal .modal-dialog.modal-top {
        bottom: 0;
        top: auto;
    }
    .banner h2 {
        font-size: 67px;
    }
}

.modal a.btn.btn-outline-primary {
    color: #fff!important;
}

.modal-dialog .modal-content {
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    background: #000;
    color: #fff!important;
}

.modal-dialog.modal-notify .modal-body {
    padding: .5rem;
}

.modal-backdrop {
    background: none;
}

.modal-body {
    padding: .5rem;
}

.download ul li:last-child {
    margin-right: 0px;
}

.navbar h1 {
    font-size: 48px;
    margin: 0px;
    margin-right: 60px;
}

#elegantModalForm .modal-header {
    border-bottom: 1px solid #000;
}

#elegantModalForm .close,
.close span {
    color: #fff;
}

#elegantModalForm .modal-dialog .modal-content {
    border-radius: 15px;
}

#elegantModalForm ul {
    margin: 0px;
    padding: 0px;
}

.navbar-nav li.dropdowns {
    text-transform: normal;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.navbar-nav li:hover,
.navbar-nav li:focus a,
.navbar-nav li:focus-within {
    cursor: pointer;
    color: rgba(255, 255, 255, .75);
}

li.dropdown-sub:focus-within a {
    outline: none;
    color: rgba(255, 255, 255, .75);
}

ul.navbar-nav li ul {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    margin: 0px;
    padding: 10px 10px 10px 24px;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
    width: 100%;
}

ul.navbar-nav li:hover>ul,
ul.navbar-nav li:focus-within>ul,
ul.navbar-nav li ul:hover,
ul.navbar-nav li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
}

ul.navbar-nav li.dropdowns ul li {
    clear: both;
    width: 100%;
    padding: 5px 0px;
    border-bottom: 1px #1C2331 solid;
}

ul.navbar-nav li.dropdowns ul li:hover a {
    color: rgba(255, 255, 255, .75)
}

.navbar-nav li.dropdowns:hover>a {
    color: rgba(255, 255, 255, .75)!important;
}

ul.navbar-nav li.dropdowns ul li:last-child {
    border: none;
}

ul.navbar-nav li.dropdowns ul li a {
    color: #fff;
}

.social {
    margin: 0px;
    padding: 0px;
}

.social li a {
    font-size: 24px;
}

.responsive-download {
    text-align: center;
    width: 100%;
}

.status {
    color: #fff;
}

#contact-form strong {
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    text-align: right;
    width: 100%;
    display: block;
}

.social li {
    border: none;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: none;
}

.nav-pills .nav-link {
    color: #fff;
}

.sidebar {
    position: absolute;
    left: 0px;
}

.sidebar .nav {
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

li.nav-item.btn.btn-primary.btn-rounded.waves-effect.waves-light {
    display: block;
}

.iframe-video {
    min-height: 500px;
}

.img-documentation {
    border-radius: 10px;
    overflow: hidden;
}

ul.stepper li.active a .label,
ul.stepper li.completed a .label {
    font-weight: 600;
    color: #fff;
}

@media (max-width: 768px) {
    ul.navbar-nav li ul {
        position: relative;
        background: none;
    }
    .iframe-video {
        min-height: 250px;
    }
    #faqs h3 {
        font-size: 1em;
    }
    h1 {
        font-size: 36px;
    }
    #FAQs-banner p,
    #banner-top p {
        font-size: 1rem;
        color: #fff;
    }
    .fast-uses {
        display: flex;
        flex-direction: row;
    }
    .swap-image-uses {
        order: 2;
    }
    .home-services .card {
        flex: auto;
    }
    .download {
        padding: 10px;
    }
    .download ul li {
        margin-right: 10px;
    }
    .navbar h1 {
        font-size: 16px;
        margin-right: 0px;
    }
    ul.navbar-nav.nav-flex-icons.responsive-download-buttons {
        text-align: center;
        width: 100%;
    }
    .responsive-download-buttons li.nav-item {
        text-align: center;
        width: 100%;
    }
    .responsive-download-buttons li.nav-item a {
        padding: 15px;
        line-height: 11px;
    }
}

@media (max-width: 600px) {
    .download .d-flex {
        display: block!important;
    }
    .download ul li {
        display: inline-block;
    }
    .bottom-myName {
        bottom: 85px !important;
        ;
    }
    #subscribeSend {
        padding: .315rem .75rem;
        background: none !important;
        border: solid 2px #fff;
        line-height: 12px;
        font-size: 14px!important;
    }
    #dropdownSubscribe input {
        max-width: 140px !important;
    }
    #subscribe-button {
        margin: .25rem !important;
        float: none !important;
        padding: .64rem 1.14rem !important;
    }
    #subscribe-email-input {
        padding: 1.0em;
    }
    #mobileNav {
        display: inline!important;
    }
    #desktopNav {
        display: none!important;
    }
    #menuSubscribe {
        border: none!important;
    }
    .mobile-nav-item {
        width: 20px;
    }
    .inline-d {
        display: inline!important;
    }
    .i-icon {
        padding: 2px 8px;
        border: 2px solid white;
        font-size: 12px;
        background: black !important;
        color: white;
        border-radius: 50%;
    }
}

@media (max-width: 420px) {
    #menuSubscribe {
        padding: 0.315rem 0.2rem !important;
        background: none !important;
        border: solid 2px #fff;
        line-height: 12px;
    }
    #internetPlus {
        text-align: center;
        display: flex;
        justify-content: center;
        padding: .315rem .25rem !important;
    }
    #groupcallCenter {
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0 .25rem !important;
    }
    .navbar-brand {
        margin-right: 0rem;
    }
}

@media (max-width: 320px) {
    .download img {
        height: 100%;
        width: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .card .card-body h3 {
        font-size: 1.2em;
    }
    .home-slide {
        padding: 0px;
    }
    ul.navbar-nav.nav-flex-icons.responsive-download-buttons {
        text-align: center;
        width: 100%;
    }
    .responsive-download-buttons li.nav-item {
        text-align: center;
        width: 100%;
    }
    .responsive-download-buttons li.nav-item a {
        padding: 15px;
        line-height: 11px;
    }
}

.logo-trango {
    height: 35px;
}

#subscriptionModal modal-header .close,
#subscriptionModal {
    color: #fff;
}

#subscriptionMessage {
    padding: 15px;
}

#subscriptionModal .modal-dialog .modal-content {
    border-bottom: 1px solid #1C2331;
    margin-top: 25px;
    border-radius: 15px;
    background: #000;
}

#subscriptionModal .modal-header {
    border: none;
    padding: 0 1em !important;
}

.logo-trango {
    height: 35px!important;
}

@media screen and (max-width: 768px) {
    .logo-trango {
        height: 25px!important;
    }
}

#signals {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#signals span {
    display: block;
    position: absolute;
    left: 50%;
    opacity: 0;
    border-radius: 50%;
    box-shadow: 0 0 80px rgba(32, 191, 255, 0.5);
    -webkit-animation: signal 2s infinite alternate ease-in-out;
    -moz-animation: signal 2s infinite alternate ease-in-out;
    -ms-animation: signal 2s infinite alternate ease-in-out;
    -o-animation: signal 2s infinite alternate ease-in-out;
    animation: signal 2s infinite alternate ease-in-out;
}

#signals span.s1,
#signals span.s2,
#signals span.s3,
#signals span.s4,
#signals span.s5,
#signals span.s6,
#signals span.s7 {
    border: 2px solid #74bbdc;
    border-color: rgba(116, 187, 220, .3);
    box-shadow: 0 0 80px rgba(32, 191, 255, .3);
}

#signals span.s1 {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -ms-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

#signals span.s2 {
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
}

#signals span.s3 {
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    -ms-animation-delay: .9s;
    -o-animation-delay: .9s;
    animation-delay: .9s;
}

#signals span.s4 {
    width: 700px;
    height: 700px;
    margin-top: -350px;
    margin-left: -350px;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

#signals span.s5 {
    width: 900px;
    height: 900px;
    margin-top: -450px;
    margin-left: -450px;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

#signals span.s6 {
    width: 1100px;
    height: 1100px;
    margin-top: -550px;
    margin-left: -550px;
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -ms-animation-delay: 1.8s;
    -o-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

#signals span.s7 {
    width: 1300px;
    height: 1300px;
    margin-top: -650px;
    margin-left: -650px;
    -webkit-animation-delay: 2.1s;
    -moz-animation-delay: 2.1s;
    -ms-animation-delay: 2.1s;
    -o-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

#signals span.s8 {
    width: 1500px;
    height: 1500px;
    margin-top: -750px;
    margin-left: -750px;
    -webkit-animation-delay: 2.1s;
    -moz-animation-delay: 2.1s;
    -ms-animation-delay: 2.1s;
    -o-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

#signals span.s9 {
    width: 1700px;
    height: 1700px;
    margin-top: -850px;
    margin-left: -850px;
    -webkit-animation-delay: 2.1s;
    -moz-animation-delay: 2.1s;
    -ms-animation-delay: 2.1s;
    -o-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

@-webkit-keyframes signal {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes signal {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes signal {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

@keyframes signal {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

.sysicons {
    display: block;
    position: relative;
    z-index: 1000;
    width: 100%;
    top: 40%;
    text-align: center;
}

.sysicons-myPeer {
    text-align: center;
    z-index: 11;
}

.sysicons ul,
.sysicons-myPeer ul {
    margin: 0px;
    padding: 0px;
}

.sysicons ul li,
.sysicons-myPeer ul li {
    display: inline-block;
    width: 80px;
    margin-right: 15px;
    margin-bottom: 50px;
    overflow-wrap: break-word;
}

.sysicons-myPeer ul li {
    margin-bottom: 2px!Important;
    width: 100%;
}

.sysicons-myPeer ul li span {
    margin-top: 11px!Important;
}

.sysicons ul li img,
.sysicons-myPeer ul li img {
    max-width: 40px;
    background: #212529;
    padding: 5px;
    border-radius: 50%!important;
    margin-bottom: 10px;
}

.sysicons-myPeer ul li img {
    max-width: 60px;
}

.sysicons ul li img.progress-bar-img {
    position: absolute;
    top: 13%;
    text-align: center;
    left: 26%;
    box-shadow: none!important;
}

.submenu {
    display: none;
}

.sysicons .dropdown:hover .submenu {
    display: block;
    position: absolute;
    width: 80px;
    text-align: center!important;
    padding: 1px 0px;
    text-align: left;
}

.sysicons .dropdown:hover .submenu li {
    width: auto;
    text-align: left;
    /*background: #017bfd;*/
    color: #fff;
    padding: 5px;
    cursor: pointer;
    margin-right: 0px;
    margin-bottom: 0px;
}

.sysicons .dropdown:hover .submenu li:hover {
    background: #20bfe1;
}

.information-icon #Bellnotifications.btn {
    padding: 2px 8px;
    border: 1px solid white;
    font-size: 20px;
    background: black !important;
    color: white;
    border-radius: 50%;
}

.sysicons .z-depth-2,
.sysicons-myPeer .z-depth-2 {
    box-shadow: 0 2px 11px 0 rgba(255, 255, 255, .7), 0 3px 20px 0 rgba(32, 191, 255, 1)!important;
    transition: transform .2s;
}

.sysicons .dropdown .z-depth-2 {
    transition: transform .2s;
}

.sysicons .dropdown:hover .z-depth-2 {
    /*box-shadow: 0 2px 11px 0 rgba(255,255,255,.7),0 3px 20px 0 rgba(32,191,255,1)!important;*/
    transform: scale(1.2);
}

.progress {
    width: 70px;
    height: 70px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress.blue .progress-bar {
    border-color: #049dff;
}

.progress.yellow .progress-bar {
    border-color: #fdba04;
}

.progress.pink .progress-bar {
    border-color: #ed687c;
}

.progress.green .progress-bar {
    border-color: #1abc9c;
}

.progress-bar-icon .blue {
    background: transparent!important;
}

.progress-bar-icon {
    position: relative;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

@media only screen and (max-width: 991px) {
    .sysicons {
        padding: 0px 10px;
        top: 19%;
    }
    .sysicons h4,
    .bottom-intro,
    .bottom-myName {
        font-size: 10px;
        line-height: 14px;
        padding: 0px 20px;
    }
    .sysicons ul li img.progress-bar-img {
        top: 10%;
        left: 31%;
    }
    .sysicons ul li img {
        max-width: 30px;
    }
    .progress {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .bottom-intro::before {
        content: "";
    }
    .sysicons,
    .sysicons-myPeer {
        padding: 0px 10px;
    }
    .sysicons h4,
    .bottom-intro,
    .bottom-myName {
        font-size: 12px;
        line-height: 18px;
        padding: 0px 10px;
    }
    .sysicons ul li img.progress-bar-img {
        top: 14%;
        left: 34%;
    }
    .sysicons ul li img,
    .sysicons-myPeer ul li img {
        max-width: 30px;
    }
    .progress {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .controls-icons .mic {
        bottom: 0px;
        width: 38px;
        height: 38px;
        padding: 11px 8px;
        font-size: 15px;
        background: #8282e2;
    }
    .controls-icons .plus {
        bottom: 0px;
        width: 38px;
        height: 38px;
        padding: 11px 8px;
        font-size: 15px;
        background: #8282e2;
    }
    .controls-icons .mic-mute {
        bottom: 0px;
        width: 38px;
        height: 38px;
        padding: 11px 8px;
        font-size: 15px;
        background: #8282e2;
    }
    .controls-icons li {
        display: inline-block;
        margin-right: 2%;
        width: 40px;
    }
}

.bottom-myName {
    position: absolute;
    bottom: 65px;
    color: rgba(255, 255, 255, .75)!important;
    width: 100%;
    font-weight: 700;
}

.bottom-intro {
    position: absolute;
    bottom: 10px;
    color: rgba(255, 255, 255, .75)!important;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}


/* .controls{display:none;} */

.controls {
    /* display: flex; */
    text-align: center;
    /* right: 0px; */
    /* left: 40%; */
}

.videortc {
    position: relative;
    height: 100%;
}

.videortcframe {
    position: relative;
}

.controls-icons {
    position: Fixed;
    bottom: 10%;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 100;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 5rem;
    justify-content: center;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.controls-icons li {
    display: inline-block;
    margin-right: 2%;
}

.controls-icons li img {
    overflow: hidden;
    width: 64px;
    min-width: 40px!important;
}

body {
    overflow: hidden;
}

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


/** animation **/

.full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .column {
    display: flex;
    flex-direction: column;
}

#about {
    color: #fff;
    z-index: 9991;
    overflow: hidden;
    /* pointer-events: none;*/
    text-align: center;
}

#about .fade-in {
    transition: opacity 300ms;
    will-change: opacity;
    transition-delay: 300ms;
    z-index: 11;
    /*pointer-events: all;*/
    padding: 30px 15px;
}

#about form {
    width: 100%;
}

#about input {
    border-radius: 5rem;
    border: 0px;
    padding: 10px;
}

#about h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#about h3 a {
    color: #fff;
    text-decoration: underline;
}

#about img {
    width: 30px;
    margin-top: 30px;
}


/* #about .logo {
    --icon-size: 96px;
} */


/* h1 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 40px;
    margin: 8px 0 0;
}
#about  .font-subheading {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
} */


/* #about .row a {
    margin: 8px 8px -16px;
} */


/* #about  .icon-button {
    width: 40px;
    height: 40px;
} */


/* .button, .icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
    border: none;
    outline: none;
} */

#about .overlayback {
    position: absolute;
    top: calc(32px - 200px);
    right: calc(32px - 200px);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .9);
    transform: scale(0);
    z-index: -1;
}

#about .overlayback {
    will-change: transform;
    transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
}


/* .icon-button {
    width: 40px;
    height: 40px;
} */


/* .icon-button:before {
    border-radius: 50%;
}
.button:before, .icon-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: currentColor;
    opacity: 0;
    transition: opacity 300ms;
} 
*/

.Phone {
    position: relative;
    display: block;
    margin: 0;
    width: .5em;
    height: .5em;
    font-size: 8rem;
    background-color: #3498db;
    border-radius: 0.5em;
    box-shadow: 0 0 0 0em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
    transform: translate3d(0, 0, 0) scale(1);
}

.Phone::before,
.Phone::after {
    position: absolute;
    content: "";
}

.mic {
    position: relative;
    display: block;
    /*background: #cd1f25;*/
    background: #8282e2;
    cursor: pointer;
    padding: 15px 20px;
    color: white;
    font-size: 30px;
    border-radius: 100%;
    box-shadow: 0 0 0 0em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
    transform: translate3d(0, 0, 0) scale(1);
}

.plus {
    position: relative;
    display: block;
    background: #8282e2;
    cursor: pointer;
    padding: 15px 16px;
    color: white;
    font-size: 30px;
    border-radius: 100%;
    box-shadow: 0 0 0 0em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
    transform: translate3d(0, 0, 0) scale(1);
}

.mic-mute {
    position: relative;
    display: block;
    /*background: #cd1f25;*/
    background: #8282e2;
    cursor: pointer;
    padding: 15px 11px;
    color: white;
    font-size: 30px;
    border-radius: 100%;
    box-shadow: 0 0 0 0em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
    transform: translate3d(0, 0, 0) scale(1);
}

.Phone::before {
    top: 0;
    left: 0;
    width: .3em;
    height: .3em;
    background-color: rgba(#fff, 0.1);
    border-radius: 100%;
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
    top: 0.1em;
    left: 0.11em;
    width: 0.3em;
    height: 0.3em;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate3d(0, 0, 0);
}

.Phone.rejected::after {
    transform: rotate(140deg);
}

.Phone.is-animating {
    animation: phone-outer 3000ms infinite;
    &::before {
        animation: phone-inner 3000ms infinite;
    }
    &::after {
        animation: phone-icon 3000ms infinite;
    }
}

@keyframes phone-outer {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
    }
    33.3333% {
        transform: translate3d(0, 0, 0) scale(1.1);
        box-shadow: 0 0 0 0em rgba(#3498db, 0.1), 0em 0.05em 0.1em rgba(#000000, 0.5);
    }
    66.6666% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0.5em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
    }
}

@keyframes phone-inner {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0);
    }
    33.3333% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0.9);
    }
    66.6666% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
}

@keyframes phone-icon {
    0% {
        transform: translate3d(0em, 0, 0);
    }
    2% {
        transform: translate3d(0.01em, 0, 0);
    }
    4% {
        transform: translate3d(-0.01em, 0, 0);
    }
    6% {
        transform: translate3d(0.01em, 0, 0);
    }
    8% {
        transform: translate3d(-0.01em, 0, 0);
    }
    10% {
        transform: translate3d(0.01em, 0, 0);
    }
    12% {
        transform: translate3d(-0.01em, 0, 0);
    }
    14% {
        transform: translate3d(0.01em, 0, 0);
    }
    16% {
        transform: translate3d(-0.01em, 0, 0);
    }
    18% {
        transform: translate3d(0.01em, 0, 0);
    }
    20% {
        transform: translate3d(-0.01em, 0, 0);
    }
    22% {
        transform: translate3d(0.01em, 0, 0);
    }
    24% {
        transform: translate3d(-0.01em, 0, 0);
    }
    26% {
        transform: translate3d(0.01em, 0, 0);
    }
    28% {
        transform: translate3d(-0.01em, 0, 0);
    }
    30% {
        transform: translate3d(0.01em, 0, 0);
    }
    32% {
        transform: translate3d(-0.01em, 0, 0);
    }
    34% {
        transform: translate3d(0.01em, 0, 0);
    }
    36% {
        transform: translate3d(-0.01em, 0, 0);
    }
    38% {
        transform: translate3d(0.01em, 0, 0);
    }
    40% {
        transform: translate3d(-0.01em, 0, 0);
    }
    42% {
        transform: translate3d(0.01em, 0, 0);
    }
    44% {
        transform: translate3d(-0.01em, 0, 0);
    }
    46% {
        transform: translate3d(0em, 0, 0);
    }
}

.accepted {
    background: #4fb957;
}

.rejected {
    background: #dc1d3e;
}

#callrequest .btn,
#callrequest .btn-secondary,
.btn-secondary:active,
.btn-secondary:not([disabled]):not(.disabled):active {
    background: none!important;
    border: none!important;
    box-shadow: none!important;
}


/* div.fadeMe{
	width: 100%;
    height: 100%;
    display:table;
    background: rgba(0, 0, 0, 0.5);
	position:relative;
  }
div.fadeMe i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	display:table-cell;
    vertical-align:middle;
    text-align:center;
} */

.requestcall {
    z-index: 99999;
}

.requestcall i {
    cursor: pointer;
}

#about .newclose {
    position: absolute;
    right: 4.3%;
    top: 27px;
    color: #fff;
}

.receivercallcontent,
.receivecall.flex-center,
.requestcall.flex-center {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    align-self: center;
    z-index: 9991;
}

.receivecall .btn {
    background: none !important;
}

.receivercallcontent p {
    color: #fff;
    font-size: 1.4rem;
    line-height: 50px;
}

p.encrpted {
    color: #607290;
    font-size: 1.2rem;
}

.close {
    font-size: 2rem;
}

.bottom-intro span,
.bottom-myName span {
    display: block;
    line-height: 1rem;
}

.email-about {
    width: 100%;
}

.info-modal {
    z-index: 9999;
}

.social-media-info {
    width: 100%;
}

.social-media-info ul {
    margin: 0px;
    padding: 0px;
}

.social-media-info ul li {
    display: inline-block;
}

#about .social-media-info img {
    margin-top: 0px
}

.info-modal textarea,
.info-modal input,
.info-modal .form-control:focus {
    background: transparent;
    color: #fff;
}

.info-modal input,
.info-modal textarea {
    border: 2px solid #ced4da;
    color: #fff;
}

.info-modal .close {
    text-align: right;
    color: #fff;
    font-size: 20px;
    margin-right: 26px;
}

.modal-open .modal {
    background: rgba(0, 0, 0, .9);
}

#feedBackMessage .padding-2 {
    padding: 2%;
}

#connectionid {
    display: none;
    position: absolute;
    /*background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd; */
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-addMore {
    top: 0px;
    position: absolute;
    z-index: 11000;
}

#callername,
#videocall,
#audiocall {
    color: #fff;
    font-size: 1.5rem;
}

.avatar img {
    margin: 0px auto;
    text-align: center;
}

.avatar img {
    max-width: 120px;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block !important;
}

.set-myname {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
    width: 120px;
}

.notifyjs-corner {
    margin-top: 70px !important;
    left: 50% !important;
    transform: translateX(-50%);
}

#menuSubscribe {
    padding: .315rem .75rem;
    background: none !important;
    border: solid 2px #fff;
    line-height: 12px;
}

#dropdownSubscribe {
    text-align: left;
    position: fixed;
    z-index: 999;
    margin-left: -60px;
    display: none;
    /* padding-right: 21px; */
}

#dropdownSubscribe input {
    max-width: 170px;
    width: 100%;
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border: none;
    border-bottom: solid #eeeeee 1px;
}

#subscribeSend {
    padding: .315rem .75rem;
    background: none !important;
    border: solid 2px #fff;
    line-height: 12px;
    font-size: 14px;
}

.nopeer {
    max-width: 70px;
}

.hide-div {
    display: none !important;
}

.nopeer-text {
    font-size: 18px;
    font-weight: 400;
    color: #d2cfcf;
    letter-spacing: -.012em;
    line-height: 32px;
}

#subscribeModal .subscribe-close {
    position: absolute;
    right: 4.3%;
    top: 27px;
    color: #fff;
}

#subscribeModal {
    color: #fff;
    z-index: 9991;
    overflow: hidden;
    /* pointer-events: none; */
    text-align: center;
}

#subscribeModal .fade-in {
    transition: opacity 300ms;
    will-change: opacity;
    transition-delay: 300ms;
    z-index: 11;
    /* pointer-events: all; */
    padding: 30px 15px;
}

#subscribeModal .overlayback {
    position: absolute;
    top: calc(32px - 200px);
    right: calc(32px - 200px);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .9);
    transform: scale(0);
    z-index: -1;
}

#subscribeModal .overlayback {
    will-change: transform;
    transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#subscribeModal .overlay-form {
    width: 100%;
    max-width: 500px;
}


/*
#subscribe-email-input{
    max-width: 280px;
    display: inline;
}
*/

#subscribe-button {
    margin: .5rem;
    padding: .84rem 1.14rem;
}

#subscribeModal section {
    display: block;
}

#subscribeModal .col-md-12 {
    padding: 0px;
}

#groupcallCenter {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0 .75rem;
}

#internetPlus {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: .315rem .75rem;
}

#internetPlus img {
    height: 25px;
}

#groupcallCenter img {
    height: 35px;
}

.groupcall-white {
    width: 55px;
    height: 55px;
}

.navbar-toggler {
    float: right;
}